<div class="container mt-5">
  <h1 class="mb-4">Admin Dashboard</h1>

  <!-- Displaying total counts of products and categories -->
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Products</h5>
          <p class="card-text"><%= @product_count %> </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Categories</h5>
          <p class="card-text"><%= @category_count %> </p>
        </div>
      </div>
    </div>
  </div>
 </div>