<!-- app/views/about/index.html.erb -->
<div class= 'about-page'>
<h1>About Jungle</h1>
<p>Welcome to Jungle, your urban oasis and go-to destination for all things green! At Jungle, we believe that plants bring life, joy, and a sense of tranquility to any space. Our mission is to connect our community with the beauty and benefits of nature, one plant at a time.</p>

<p>Founded with a passion for greenery and a commitment to sustainability, Jungle offers a wide variety of indoor plants, succulents, and exotic botanicals to suit every plant lover’s needs. Whether you’re a seasoned plant parent or just starting your journey, our knowledgeable staff is here to help you find the perfect plants for your home or office.</p>

<p>We take pride in sourcing our plants from trusted growers who share our dedication to quality and environmental responsibility. Each plant is handpicked and cared for to ensure it thrives in its new home.</p>

<p>Beyond our extensive plant selection, Jungle also offers a range of stylish pots, plant care products, and unique accessories to complement your green friends. Join us for one of our plant care workshops or community events to deepen your knowledge and meet fellow plant enthusiasts.</p>

<p>Thank you for choosing Jungle as your trusted plant partner. Let’s grow together!</p>
</div>